<h5 class="title"><%= @user.username%>'s books</h5>

<div class="box-featured">
	<div class="box-header">
		Avaiable
	</div>

	<div class="box-content">
		<div class="row">
			<% @user.book_deals.each do |item| %>

				<div class="col-sm-3">
					<div class="box-item">

					  <img class="box-item-img" src="<%= item.book.image %>" alt="Card image cap">

					  <div class="box-item-title">
					  	<%= link_to truncate(item.book.name, length: 20), item %>
					  </div>

					  <div class="box-item-description">
					  	<%= truncate(item.description, length: 50) %>
					  </div>

					  <div class="box-item-button">
					  	<% if current_user == @user %>
					  	
					  		<button class="btn btn-primary btn-block">Edit</button>
					  	<% else %>
					  		<button class="btn btn-primary btn-block">Exchange</button>
					  	<% end %>
					  </div>
					</div>

				</div>
			<% end %>
		</div>
	</div>
</div>

