
	<div class="footer-top">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>Infomation</h3>
				<ul>
					<li><a href="#">About</a></li>
					<li>Term & Conditions </li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h3>Service</h3>
				<ul>
					<li>Contact us</li>
					<li>site map </li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h3>My account</h3>
				<ul>
					<li>My account</li>
				</ul>
			</div>
		</div>
	</div>
</div>