<div class="category-list">
	<button class="btn btn btn-secondary">History</button>
	<button class="btn btn btn-secondary">Fiction</button>

	<button class="btn btn btn-secondary">Mystery</button>

	<button class="btn btn btn-secondary">Comic</button>

	<button class="btn btn btn-secondary active">All</button>
</div>

<div class="box-featured">
	<div class="box-header">
		Books
	</div>

	<div class="box-content">
		<% (1..20).each do %>
			<div class="col-sm-2">
				
			</div>
		<% end %>
	</div>
</div>
