<div class="category-list">
	<button class="btn btn btn-secondary">History</button>
	<button class="btn btn btn-secondary">Fiction</button>

	<button class="btn btn btn-secondary">Mystery</button>

	<button class="btn btn btn-secondary">Comic</button>

	<button class="btn btn btn-secondary active">All</button>
</div>

<div class="box-featured">
	<div class="box-header">
		Exchange
	</div>

	<div class="box-content">
		<div class="row">
			
				<% @deals.each do |deal| %>
				<div class="col-sm-3">
					<div class="box-item">
					  <img class="box-item-img" src="<%= deal.book.image %>" alt="Card image cap">

					  <div class="box-item-title">
					  	<%= link_to truncate(deal.book.name, length: 20), deal %>
					  </div>

					  <div class="box-item-description">
					  	<%=  truncate(deal.description, length: 50)%>
					  </div>

					  <div class="box-item-button">
					  	<button class="btn btn-primary btn-block"><%= deal.deal_type %></button>
					  </div>
				
			</div>
		</div>
		<% end %>
	</div>
</div>
