
<form class="search" role="search">
  <label>Search:
  <input class="form-control input-sm"
         id="search"
         type="search"
         name="search"
         placeholder="<%= t("administrate.search.label",
                            resource: resource_name) %>"
         value="<%= search_term %>">
         </label>
</form>