a {
	&:hover, &.active{
		color: #f36c4f !important;
		text-decoration: none !important;
	}
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h5 {
	margin-bottom: 20px !important;
}

.navbar {
	background-color: #fff;
	border-bottom: 1px solid #ececec;
	.container {
		padding-left: 7px !important;
	}
}



.active > a{
	color: #f36c4f !important;
}

#banner {
	background-color: #fff;
	margin-top: 1px;
	padding-top: 15px;
	padding-bottom: 15px;

	img {
		padding-bottom: 5px;
		padding-right: 5px;
		}

	.left-side {
		float: left;
		font-size: 2em;
	}

	.right-side {
		float: right;
		padding-top: 5px;

		.btn-outline-warning {
			
		}
	}
}

body {
  font-family: 'Cabin', sans-serif !important;
  font-size: 12px;
  
}

.page {
	background: image-url("bg.gif") 0 0 repeat #f4f4f4;
}

footer {
	clear: both;
  overflow: hidden;
  background: #fff;
  margin-top: 41px;
}

.footer-top {
	padding: 28px 0 75px;
  background: image-url("bg-top-footer.gif") 0 0 repeat-x #fff;
  position: relative;
  border-bottom: 2px solid #dfdfdf;

  h3 {
  	font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 57px;
  }


  li {
  	padding-top: 15px;
    border-top: 1px dotted #c1c1c1;
    margin-top: 15px;
    margin-right: 32%;
  }

  li:first-child {
  	border: none;
  }

  a {
  	font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: #7d7d7d;
  }
}

a.button-cont-right {
	  display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding-right: 0px;
    color: #2a2a2a;
    font-weight: normal;
    vertical-align: top;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Cabin',sans-serif;
    text-transform: uppercase;

    i {
	    font-size: 25px;
	    text-align: center;
	    vertical-align: middle;
	    margin: 0 9px 2px;
	    color: #6c6c6c;
		}
}

#flash {

  i {
    font-size: 20px;
    margin: 0 9px 2px;
  }
  color: #f36c4f;
  background-color: #fff;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -1px 5px 5px 0px rgba(179,179,179,1);
-moz-box-shadow: -1px 5px 5px 0px rgba(179,179,179,1);
box-shadow: -1px 5px 5px 0px rgba(179,179,179,1);
}