


.category-list {
	padding-top: 25px;
	padding-bottom: 25px;
}

.box-featured {
	.box-header {
		padding-top: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid #d7d7d7;
		font-size: 16px;
    line-height: 19px;
    color: #525252;
	}

	.box-content {
		padding-top: 10px;
		padding-bottom: 10px;
		
	}

	.box-item {
		background-color: #fff;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 20px 20px 20px 20px;
		border-radius: 0.25em;

		.box-item-img {
			width: 100%;

		}

		.box-item-title {
			text-align: center;
			padding-top: 10px;

			a {
				text-decoration: none;
		    font-size: 13px;
		    color: #2a2a2a;
		    text-transform: uppercase;
			}
		}

		.box-item-description {
			text-align: center;
			color: #9b9b9b;
    	font-size: 12px;
		}

		.box-item-button {
			padding-top: 10px;
		}
	
	}
}

